RewriteEngine on

# si fichier/dossier demandé existe pas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# alors redirigé vers index.php avec GET nommé "page"
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]
